
.loader-overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 9999999999;
}

.spinner-container {
    justify-content: center;
    justify-items: center;
    padding-top: 20%;
    width: 100%;
}

.jgrowl-indicator {
    overflow: auto;
    position: relative;
    z-index: 99998;
    margin-top: 0;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 18px;
    color: black;
    background: #FFF;
    padding-top: 20px;
    opacity: .7;
    width: 100vw !important;
    max-width: none !important;
}

.loader-hidden {
    visibility: hidden;
}
