

<section id="root">

   <!-- Menu bar -->
   <side-bar z3 *ngIf="UserCache.getInstance().ok"></side-bar>

   <section>

      <div id="upperBar" *ngIf="UserCache.getInstance().ok">
         <h1>{{ this.title | translate }}</h1>
         <section id="rightIcons">
            <inner-icon pointCursor origin="google" identifier="routine"
               (click)="this.swipTheme()"></inner-icon>
         </section>
      </div>

      <!-- Router result -->
      <div style="padding: 15px; height: 100%">
         <router-outlet></router-outlet>
      </div>

   </section>

</section>

<angular-loader></angular-loader>
