@use './mixins';

button.defButton,
button[defButton],
button.swal-confirm-btn,
button.swal-cancel-btn {

    transition: background 0.3s ease, transform 0.2s ease;
    background-color: var(--highlight);
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
    border: unset;
    height: 35px;

    &:hover {
        filter: brightness(0.9);
    }

    &[color*='angular'] {
        &[color*='error'] {
            color: var(--red);
        }

        &[disabled] {
            color: var(--mid_gray_color);

            &:hover {
                background-color: unset;
            }
        }
    }

    &:not([color*='angular'], .mtx-calendar-header-hours, .mtx-calendar-header-minutes, .mtx-time-cancel-button) {
        background-color: var(--highlight);
        color: whitesmoke;
        box-shadow: none;
        padding: 0 25px;

        &[color*="primary"] {
            background-color: var(--highlight);
            color: whitesmoke;
        }

        &[color*="error"] {
            background-color: var(--red);
            color: white;
        }

        &[color*='warning'] {
            background-color: var(--warning_color);
        }

        &[color*='blue'] {
            background-color: var(--blue);
        }

        &[color*='success'] {
            background-color: var(--success_color);
            color: white;
        }

        &.swal-cancel-btn,
        &[color*='opaque'] {
            background-color: var(--opaque-020_color);
            color: var(--font_color);
            backdrop-filter: blur(5px);
        }

        &[color*='extra1'] {
            background-color: var(--extra1);
        }

        &[color*='extra2'] {
            background-color: var(--extra2);
        }

        &[color*='extra3'] {
            background-color: var(--extra3);
        }

        &[color*='dangerous']:hover {
            background-color: var(--error_color);
            color: white;
        }

        &[disabled] {
            background-color: var(--highlight-020);
            backdrop-filter: blur(5px);
            color: white;
        }
    }
}

div.button-group {
    justify-content: flex-end;
    height: min-content;
    padding: 20px 0 0;
    display: flex;
    gap: 10px;

    @include mobile {
        flex-wrap: wrap-reverse;
    }

    button {
        @extend .defButton;
        white-space: nowrap;
        width: 100%;

        @include mobile {
        }
    }
}

div.button-group-column {
    height: min-content;
    grid-auto-flow: row;
    padding: 20px 0 0;
    display: grid;
    width: 100%;
    gap: 10px;

    div.group-line {
        grid-auto-flow: column;
        display: grid;
        gap: 10px;
    }

    div.group-line,
    button {
        @extend .defButton;
    }
}
