

// ===============================
//     Staatliches font faces
// ===============================

@font-face {
    font-family: 'staatliches';
    src: url('../../public/fonts/staatliches/Staatliches-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

// ===============================
//     Reddit Mono font faces
// ===============================

@font-face {
    font-family: 'redditmono';
    src: url('../../public/fonts/reddit_mono/RedditMono-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'redditmono';
    src: url('../../public/fonts/reddit_mono/RedditMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'redditmono';
    src: url('../../public/fonts/reddit_mono/RedditMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'redditmono';
    src: url('../../public/fonts/reddit_mono/RedditMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'redditmono';
    src: url('../../public/fonts/reddit_mono/RedditMono-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'redditmono';
    src: url('../../public/fonts/reddit_mono/RedditMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'redditmono';
    src: url('../../public/fonts/reddit_mono/RedditMono-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'redditmono';
    src: url('../../public/fonts/reddit_mono/RedditMono-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'redditmono';
    src: url('../../public/fonts/reddit_mono/RedditMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 900;
    font-style: normal;
}
