<div class="float-box">
    <h1>Login</h1>
    <div class="modal-content">
        <form [formGroup]="this.form">
            <div class="inputGrid">
                <div class="inputBox-100">
                    <label class="inputLabel">{{ 'nickname' | translate }}</label>
                    <div class="divInput"><input formControlName="nickname" class="textInput" type="text" autocomplete="off"></div>
                    <div class="inputDivError" *ngIf="Utils.getFieldError(form, translateService, 'nickname')">
                        {{ Utils.getFieldError(form, translateService, 'nickname') }}.
                    </div>
                </div>
                <div class="inputBox-100">
                    <label class="inputLabel">{{ 'password' | translate }}</label>
                    <div class="divInput"><input formControlName="password" class="textInput" type="password" autocomplete="off"></div>
                    <div class="inputDivError" *ngIf="Utils.getFieldError(form, translateService, 'password')">
                        {{ Utils.getFieldError(form, translateService, 'password') }}.
                    </div>
                </div>
            </div>
        </form>
        <a link href="signup">{{ 'im.not.user' | translate }}</a>
    </div>
    <div class="button-group">
        <button (click)="this.login()">{{ 'login' | translate }}</button>
    </div>
</div>
