<div class="float-box">
   <h2>{{ (this.isEditing ? 'Editing' : 'Creating new') + ' user' }}</h2>
   <div class="modal-content">
      <div class="inputGrid">
         <div class="inputBox-25">
            <label class="inputLabel">Title</label>
            <input class="textInput" type="text">
         </div>
         <div class="inputBox-25">
            <label class="inputLabel">Value</label>
            <input autocomplete="off" prefix="R$ "
                   mask="separator.2" thousandSeparator="."
                   separatorLimit="999999999999999"
                   class="textInput" type="text">
         </div>
      </div>
      <div class="inputGrid">
         <div class="inputBox-25">
            <label class="inputLabel">Description</label>
            <input class="textInput" type="text">
         </div>
      </div>
      <div>
         <mat-button-toggle-group>
            <mat-button-toggle value="admin">{{ 'admin' | translate }}</mat-button-toggle>
            <mat-button-toggle value="member">{{ 'member' | translate }}</mat-button-toggle>
         </mat-button-toggle-group>
      </div>
   </div>
   <div class="button-group">
      <button color="opaque" (click)="this.close()">Cancel</button>
      <button (click)="this.save()">Save</button>
   </div>
</div>
