

<nav id="sidebar">
   <a href="#"><h1 desktopOnly>TokioTeste</h1></a>
   <ul>
       <a href="/users">
           <li pointCursor [ngClass]="{'active': this.isThisActive('users')}">
               <inner-icon origin="google" identifier="group"></inner-icon>
               <label>{{ "Users" | translate }}</label>
           </li>
       </a>
       <a href="/addresses">
           <li pointCursor [ngClass]="{'active': this.isThisActive('addresses')}">
               <inner-icon origin="google" identifier="distance"></inner-icon>
               <label>{{ "Addresses" | translate }}</label>
           </li>
       </a>
      <a href="/settings">
         <li pointCursor [ngClass]="{'active': this.isThisActive('settings')}">
            <inner-icon origin="google" identifier="settings"></inner-icon>
            <label>{{ "Settings" | translate }}</label>
         </li>
      </a>
      <a href="#">
         <li pointCursor>
            <inner-icon origin="google" identifier="chip_extraction"></inner-icon>
            <label>Logout</label>
         </li>
      </a>
   </ul>
</nav>
