

<nav desktopOnly id="sidebar">
   <a href="#"><h1 desktopOnly>TokioTeste</h1></a>
   <ul>
       <a href="/profile">
           <li pointCursor [ngClass]="{'active': this.isThisActive('profile')}">
               <inner-icon origin="google" identifier="account_circle"></inner-icon>
               <label>{{ "my.profile" | translate }}</label>
           </li>
       </a>
       <a href="/users">
           <li pointCursor [ngClass]="{'active': this.isThisActive('users')}">
               <inner-icon origin="google" identifier="group"></inner-icon>
               <label>{{ "my.users" | translate }}</label>
           </li>
       </a>
       <a href="/addresses">
           <li pointCursor [ngClass]="{'active': this.isThisActive('addresses')}">
               <inner-icon origin="google" identifier="distance"></inner-icon>
               <label>{{ "my.addresses" | translate }}</label>
           </li>
       </a>
       <a href="#">
         <li id="logout" pointCursor (click)="UserCache.signOutCache()">
            <inner-icon origin="google" identifier="chip_extraction"></inner-icon>
            <label>Logout</label>
         </li>
      </a>
   </ul>
</nav>
