<div class="float-box">
   <h2>{{ (this.isEditing ? 'Editing' : 'Creating new') + ' entry' }}</h2>
   <div class="modal-content">
      <div class="inputGrid">
         <div class="inputBox-25">
            <label class="inputLabel">Title</label>
            <input class="textInput" type="text">
         </div>
         <div class="inputBox-25">
            <label class="inputLabel">Value</label>
            <input autocomplete="off" prefix="R$ "
                   mask="separator.2" thousandSeparator="."
                   separatorLimit="999999999999999"
                   class="textInput" type="text">
         </div>
      </div>
      <div class="inputGrid">
         <div class="inputBox-25">
            <label class="inputLabel">Description</label>
            <input class="textInput" type="text">
         </div>
      </div>
      <div class="inputGrid">
         <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
         </mat-button-toggle-group>
      </div>
   </div>
   <div class="button-group">
      <button class="customButton opaque" (click)="this.close()">Cancel</button>
      <button class="customButton" (click)="this.save()">Save</button>
   </div>
</div>
